name: Upload Python Package

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true
        default: '0.0.0'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0
      - name: Set up Python
        uses: actions/setup-python@v2.3.0
        with:
          python-version: "3.x"
      - name: Version from input
        if: github.event_name != 'push'
        run: |
          echo "version=${{ github.event.inputs.version }}" >> $GITHUB_ENV
      - name: Version from pushed tag
        if: github.event_name == 'push'
        run: |
          # from refs/tags/v1.2.3 get 1.2.3
          echo "version=$(echo $GITHUB_REF | sed 's#.*/v##')" >> $GITHUB_ENV
      - name: Autobump version
        run: |
          PLACEHOLDER="__version__ = 'develop'"
          REPLACEMENT="__version__ = '${{ env.version }}'"
          VERSION_FILE="weconnect/__version.py"
          # ensure the placeholder is there. If grep doesn't find the placeholder
          # it exits with exit code 1 and github actions aborts the build. 
          grep "$PLACEHOLDER" "$VERSION_FILE"
          sed -i "s/$PLACEHOLDER/$REPLACEMENT/g" "$VERSION_FILE"
          grep "$REPLACEMENT" "$VERSION_FILE"
        shell: bash
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
      - name: Build and publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python setup.py sdist bdist_wheel
          twine upload dist/*